

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    outline: none;
    border: none;
    text-decoration: none;
}


body {
    font-family: 'Poppins', sans-serif;
    background-color: #0079ff;
    color: #ffffff;
    min-height: 20000px;
}

/* Navbar */

.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1.4rem 7%;
    background-color: rgb(1, 1, 1);
    border-bottom: 3px solid #393939;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    z-index: 9999;
    box-shadow: 1px 1px 8px rgba(0, 0, 0, 9);

}

.navbar .navbar-logo {
    font-size: 2rem;
    font-weight: 700;
    color: #fff;
}

.navbar .navbar-logo span {
    color:#005eec ;
}

.navbar .navbar-nav a {
    color: #fff;
    display: inline-block;
    font-size: 1.3rem;
    margin: 0 1rem;
}

.navbar .navbar-nav a:hover {
    color: #000000;
}

.navbar .navbar-nav a::after  {
    content: '';
    display: block;
    padding-bottom: 0.5rem;
    border-bottom: 0.1rem solid rgb(255, 255, 255);
    transform: scaleX(0);
    transition: 0.2s linear;
}

.navbar .navbar-nav a:hover::after {
    transform: scaleX(0.5);
}
.navbar-nav a:hover{
    padding: 0.4rem;
        background-color: #0066ff;
        border-radius: 5px;
}
.navbar-nav a{
    padding: 0.4rem;
        background-color:rgb(1, 1, 1);
        border-radius: 5px;
}

.content{
    padding-top: 8rem;
    padding: 8rem 3%;

}
.row{
    display: flex;
}

.navbar-extrajs{
    text-align: center;
    position: fixed;
    top: 7rem;
    left: 10rem;
    right: 94rem;
    z-index: 9999;
    padding: 0.3rem;
        background-color: #005eec;
        border-radius: 5px;

}
.navbar-navjs{
    text-align: center;
    position: fixed;
    top: 10rem;
    left: 10rem;
    right: 94rem;
    z-index: 9999;
    padding: 0.3rem;
        background-color: #005eec;
        border-radius: 5px;

}
.navbar-whatsapp{
    position: fixed;
    top: 10rem;
    left: 1rem;
    right: 115rem;
    height: 40px;
    top: 90%;
    z-index: 9999;
    padding: 0.3rem;
        background-color: rgb(0, 236, 90);
        border-radius: 5px;

}
.navbar-extrajs:hover,
.navbar-navjs:hover ,
.navbar-whatsapp:hover{
    padding: 0.3rem;
        background-color: #001657;
        border-radius: 5px;

}
.navbar-extrajs a ,
.navbar-navjs a ,
.navbar-whatsapp a{
    color: #fff;
    margin: 0 0.5rem;
}

.navbar-extrajs a:hover ,
.navbar-navjs a:hover ,
.navbar-whatsapp a:hover{
    color: #005eec;
}

/* ----------------------------------- */
.content-anggota .panah{
    display: flex;
    flex-wrap: wrap;
}
