

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    outline: none;
    border: none;
    text-decoration: none;
}


body {
    font-family: 'Poppins', sans-serif;
    /* background-color: #0079ff; */
    color: #ffffff;
    /* min-height: 20000px; */
}

.sec {
    background-image: url(../MEDIA/bg2.jpg);
    background-size: cover;
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    overflow: hidden;
    z-index: -100;
}


/* Navbar */

.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1.4rem 7%;
    background-color: rgb(1, 1, 1);
    /* border-bottom: 3px solid #393939; */
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    z-index: 9999;
    box-shadow: 1px 1px 8px rgba(0, 0, 0, 9);

}

.navbar .navbar-logo {
    font-size: 2rem;
    font-weight: 700;
    color: #fff;
}

.navbar .navbar-logo span {
    color:#005eec ;
}

.navbar .navbar-nav a {
    color: #fff;
    display: inline-block;
    font-size: 1.3rem;
    margin: 0 1rem;
}

.navbar .navbar-nav a:hover {
    color: #000000;
}

.navbar .navbar-nav a::after  {
    content: '';
    display: block;
    padding-bottom: 0.5rem;
    border-bottom: 0.1rem solid rgb(255, 255, 255);
    transform: scaleX(0);
    transition: 0.2s linear;
}

.navbar .navbar-nav a:hover::after {
    transform: scaleX(0.5);
}
.navbar-nav a:hover{
    padding: 0.4rem;
        background-color: #0066ff;
        border-radius: 5px;
}
.navbar-nav a{
    padding: 0.4rem;
        background-color:rgb(1, 1, 1);
        border-radius: 5px;
}

.navbar-extra {
    padding: 0.3rem;
    background-color: #005eec;
    border-radius: 5px;

}

.navbar-extra:hover {
    padding: 0.3rem;
    background-color: #001657;
    border-radius: 5px;

}

.navbar .navbar-extra a {
    color: #fff;
    margin: 0 0.5rem;
}

.navbar .navbar-extra a:hover {
    color: #005eec;
}

.navbar-navv {
    display: none;
}

.navbar-navjs {
    text-align: center;
    background-color: #005eec;
    border-bottom: solid rgb(0, 31, 134);
    box-shadow: 1px 1px 20px rgba(0, 0, 0, 9);
    position: fixed;
    width: 100%;
    /* padding-top: 10rem; */
    top: 6rem;
    /* left: 1rem; */
    /* right: 115rem; */
    /* height: 40px; */
    /* top: 90%; */
    z-index: 99990;
    padding: 1rem;
    border-radius: 5px;


}

.navbar-extrajs:hover,
.navbar-navjs:hover {
    background-color: #001657;
    border-radius: 5px;

}

.navbar-navjs a {
    color: #fff;
    margin: 0 0.5rem;
}

.navbar-navjs a:hover {
    color: #005eec;
}

/* display none js */
.navbar-navjs {
    display: none;
}
/* ----------------------------------- */

.jabatan{
    text-align: center;
    line-height: 1.6;
    padding: 1rem;
    background-color: #002491;

}
.jabatan h1{
    color: #fff;


}
.jabatan h2{
    color: yellow;

}
.content{
    padding-top: 6rem;
    margin: 10px;
    top: 0;
    left: 0;
    right: 0;
}
.panah{
    padding-top: 2rem;
    background-color: #001657b4;
}
.column {
    padding-top: 1rem;
    padding: 2rem;
    margin: 2rem;
    /* box-shadow: 6px 6px 30px rgba(0, 0, 0, 100); */
    /* background-color: rgba(255, 255, 255, 0.678); */
    border-radius: 1rem;
    /* border: 4px solid rgb(0, 0, 0); */


}
.content-anggota .panah{
    line-height: 1.6;
    text-align: center;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    

}
.content-anggota .panah h2{
    background-color: #008cff;
    border-radius: 1rem;
    padding: 0.3em;
    color: #ffffff;
    font-weight: 700;
    font-size: 1.2rem;
    box-shadow: 6px 6px 30px rgba(0, 0, 0, 100);
    cursor: pointer;

}
.content-anggota .panah h2:hover{
    background-color: #002b4e;

    box-shadow: 6px 6px 30px rgba(0, 0, 0, 100);

}
.content-anggota .panah p{
    color: yellow;
    font-weight: 600;
    font-size: 1rem;
}
.content-anggota .panah img{
    border-radius: 50%;
    border: 5px solid rgb(0, 2, 92);


}




/* Footer */
.fouter{
    display: flex;
    justify-content: space-around;
    padding: 4rem;
    background-color: #0077ff;
    text-align: center;
}
.credit{
    background-color: #808080;
    text-align: center;
    padding: 2rem;
    
}
.fouter-logo h4 {
    
    background-color: #3b3a3a38;
    border-radius: 1rem;
    color: #000000;
    font-weight: 700;
    font-size: 1.3rem;



}
.fouter-logo p {
    color: #ffffff;
    font-weight: 700;

}
.fouter-logo {
    list-style: none;
    padding: 1rem;
    line-height: 1.6;

}
.fouter-logo ol{
    list-style: none;
    line-height: 1.6;
    font-size: 1.3rem;



}
.fouter-logo ol li a{
    color: #fff;


}
.fouter-logo ol li a:hover{
    color: #000000;


}
.credit{
    background-image: linear-gradient(to bottom right, #0077ff, #00087c);
    line-height: 1.6;
    font-size: 1.3rem;

}
.credit a{
    color: #000000;


}